<ion-header>
    <ion-navbar>
        <ion-title>Início</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-scroll scrollX="true" text-nowrap margin-top>
        <div class="story" text-center *ngFor="let story of stories" [ngClass]="!story.seen ? 'unseen' : ''">
            <img src="{{story.userPicture}}" alt="'Story de ' + {{story.userName}}">

            <span class="block">{{story.userName}}</span>
        </div>
    </ion-scroll>

    <ion-card *ngFor="let item of items">

        <ion-item>
            <ion-avatar item-start>
                <img src="{{item.fotoPerfil}}">
            </ion-avatar>
            <h2>{{item.usuario}}</h2>
            <p>Setembro 31, 2021</p>
        </ion-item>

        <img src="{{item.fotoPost}}">

        <ion-card-content>
            <p>{{item.legenda}}</p>
        </ion-card-content>

        <ion-row no-padding>
            <ion-col>
                <button ion-button clear small color="dark" icon-start>
                    <ion-icon name="heart"></ion-icon>
                </button>
            </ion-col>
            <ion-col text-left>
                <button ion-button clear small color="dark" icon-start>
                    <ion-icon name="chatbubbles"></ion-icon>
                </button>
            </ion-col>
            <ion-col text-left>
                <button ion-button clear small color="dark" icon-start>
                    <ion-icon name="send"></ion-icon>
                </button>
            </ion-col>
            <ion-col text-right>
                <button ion-button clear small color="dark" clear icon-start>
                    <ion-icon name="bookmark"></ion-icon>
                </button>
            </ion-col>
        </ion-row>

    </ion-card>

</ion-content>